<!-- templates/change_password.html -->
{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

{{ render_flashes() }}

<h2>Change Password</h2>
<form method="post" enctype="multipart/form-data">
    <label for="old_password">Old password:</label>
    <input name="old_password" type="password" required><br>

    <label for="new_password">New password:</label>
    <input name="new_password" type="password" required><br>

    <label for="confirm_new_password">Confirm new password:</label>
    <input name="confirm_new_password" type="password" required><br>
    
    <input type="submit" value="Save Password">
</form>
{% endblock %}